:root {
    --bg-color: #fff;
    --text-color: #000;
    height: 100%;
  }
  
  [data-theme="dark"]{
    --bg-color: #050505;
    --text-color: #fff;
    height: 100%;
  }
 
 
  
  .App {
    font-family: sans-serif;
    /* text-align: center; */
    background-color: var(--bg-color);
    color: var(--text-color);
  }

  .modebutton{
    background: none;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 10px;
    margin-right: 30px;
    color: white;
    z-index: 2;
    /* position: fixed; */
   
  }