:root {
    --bg-color: #fff;
    --text-color: #000;
    height: 100%;
  }
  
  [data-theme="dark"]{
    --bg-color: #050505;
    --text-color: #fff;
    height: 100%;
  }
 
 
  
 
  /* .fa{font-size: 30px;}

  .sun {font-size:30px}
  #moon{font-size:large;color:black;font-size:30px} */